[core]
    quotePath = false
    pager = delta
    autocrlf = input

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[user]
	name = Ignatiy Voronov
	email = ignatiy.voronov@gmail.com

[includeIf "gitdir:~/.dotfiles"]
    path = ~/Projects/personal/.gitconfig

[includeIf "gitdir:~/Projects/personal/"]
    path = ~/Projects/personal/.gitconfig

[includeIf "gitdir:~/Projects/tagroup/"]
    path = ~/Projects/tagroup/.gitconfig

[includeIf "gitdir:~/Projects/"]
    path = ~/Projects/.gitconfig
